<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about_me</title>
    
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
    <!--CSS-->
    <link rel="stylesheet" href="../../src/css/about_me.css">
    
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <!--JavaScript-->
    <!--인사말, 프로필, 기술스택, 프로젝트 출력-->
    <script src="../../src/js/abuout_me.js"></script>
    
</head>
<body>
    <div id="wrap">
        <br>
        <h2>About me</h2>
        <hr>
        <div id="left">
            <br>
            <br>
            <br>
            <img src="../../src/img/프로필사진.jpg">
        </div>
        <div id="right">
            <div class="button_area" style="text-align: center;">
                <button class="btn btn-outline-primary" onclick="show(this, 1)">인사말</button> 
                <button class="btn btn-outline-primary" onclick="show(this, 2)">프로필</button> 
                <button class="btn btn-outline-primary" onclick="show(this, 3)">기술스택</button> 
                <button class="btn btn-outline-primary" onclick="show(this, 4)">프로젝트</button> 
            </div>
            <hr>
            <div class="content_area">

            </div>
        </div>
    </div>
</body>
</html>