<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오맵</title>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="../../src/css/kakao_map.css">

    <!--JavaScript-->
    <!--카카오 맵-->
    <script src="../../src/js/kakao_map.js"></script>
</head>
<body>
<div id="wrap">
    <br>
    <h2>카카오맵</h2>
    <hr>
    <div id="left">
        <br>
        <h3 id="location"></h3>
        <!-- 지도를 표시할 div 입니다 -->
        <div id="map" style="width:500px;height:350px; margin-left: 45px; margin-top: 30px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6006a924c09b0de74aaa29792adc7a15"></script>
    </div>
    <!--fin left-->
    <div id="right">
        <br>
        <h3>장소</h3>
        <div class="button_area">
            <div class="buttons">
                <!--우리집-->
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.45684426, 126.71075001)">임선혁 사는 곳</button>
                <!--채용연계 과정 회사-->
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.48876034, 127.05323461)">지멘스 인더스트리 소프트웨어</button><br><br>
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this,37.47896181, 126.88614505)">스페이스솔루션</button>
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.47871347655276, 126.87878821374758)">씨테크시스템</button><br><br>
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.47344029561812, 126.88554013436276)">와이씨디아이에스</button>
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.325495654868405, 126.93787431743634)">이삭엔지리어링</button><br><br>
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.483538383194684, 127.01787271898537)">캐디언스시스템</button>
                <button class="btn btn-outline-primary big-lg" onclick="move_map(this, 37.487032103644, 126.89535649197056)">키미이에스</button>
            </div>
            <!--fin buttons-->
        </div>
        <!--fin button_area-->
    </div>
    <!--fin right-->
</div>
<!--fin wrap-->
</body>
</html>