@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 모든 요소들 공틍 시작*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
a{
    text-decoration: none; color: black;
}
#wrap{
    margin: auto;
    width: 1200px;
}
/* 모든 요소들 공틍 끝*/
/*header영역 시작*/
header{
    width: 100%;
    height: 66px;
    display: flex;
}
.logo-area{
    width : 30%;
    float: left;
    text-align: center;
}
#logo{
    height: 100%;
}
#logo:hover{
    cursor: pointer;
}
.title-area{
    width : 40%;
    float: left;
    text-align: center;
    line-height: 60px;
}
.d_day-area{
    width: 30%;
    float: left;
    text-align: center;
    line-height: 60px;
}
/*/header영역 끝*/
/*nav영역 시작*/
nav{
    width: 100%;
    height: 44px;
    margin-top: 15px;
}
.category{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(224, 224, 224);
}
.category:hover{
    cursor: pointer;
    background-color: black;
    color: #fff;
}
/*/nav영역 끝*/
/*main영역 시작*/
.main{
    width: 100%;
    height: 600px;
}
iframe{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
}
/*/main영역 끝*/
/*footer영역 시작*/
footer{
    width: 100%;
    height: 300px;
    background: white;
    border-top: 1px solid rgb(224, 224, 224);
    padding: 30px 20px 50px;
}
#footer1{
    width: 100%;
    height: 20%;
    text-align: center;
}
#footer2{
    width: 100%;
    text-align: center;
}
#p1{
    font-size: large;
    font-weight: 800;
    height: 60%;
}
#p2{
    font-size: small;
    color: gray;
    font-family: serif;
}

/*/footer영역 끝*/