<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    
    <!--CSS-->
    <link rel="stylesheet" href="../src/css/index.css">

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!--JavaScript-->
    <!--d-day구하는 기능-->
    <script src="../src/js/d_day.js"></script>
    <!--page 이동-->
    <script src="../src/js/move.js"></script>

</head>
<body>
    <!--전체를 감싸는 warp 영역 시작-->
    <div id="wrap">

        <!--header 영역 시작-->
        <header>
            <div class="logo-area">
                <img id="logo" src="https://www.sw.or.kr/images/kosa/common/logo.png" onclick="move('home')">
            </div>
            <div class="title-area"><h1>임선혁의 자기소개 페이지</h1></div>
            <div class="d_day-area">
                <h2 id="d_day"></h2>
            </div>
        </header>
        <!--/header 영역 끝-->

        <!--nav 영역 시작-->
        <nav>
            <!--category 영역 시작-->
            <div class="category" onclick="move('home')">Home</div>
            <div class="category" onclick="move('about_me')">About Me</div>
            <div class="category" onclick="move('Ajax')">Ajax</div>
            <div class="category" onclick="move('kakao_map')">KakaoMap</div>
            <div class="category" onclick="move('google_chart')">GoogleChart</div>
            <!--/category 영역 끝-->
        </nav>
        <!--nav 영역 끝-->

        <!--main 영역 시작-->
        <div class="main">
            <!--iframe 영역 시작-->
            <iframe src="" scrolling="no" ></iframe>
            <!--/iframe 영역 끝-->
        </div>
        <!--/main 영역 끝-->

        <!--footer 영역 시작-->
        <footer>
            <div id="footer1">
                <a href="http://rc.korcham.net/">서울지역 인적자원개발위원회</a> |
                <a href="https://www.sw.or.kr">한국소프트웨어산업협회</a>
            </div>
            <div id="footer2">
                <p id="p1">
                    <a href="https://facebook.com/">Facebook</a> |
                    <a href="https://www.instagram.com/">Instagram</a> |
                    <a href="https://www.youtube.com/">YouTube</a> |
                    <a href="https://twitter.com/">Twitter</a>
                </p>
                <br><br>
                <p id="p2">
                    이 페이지는 서울지역 인적자원개발위원회와 한국소프트웨어산업협회의 지원을 받아 제작되었습니다.
                </p>
            </div>
        </footer>
        <!--footer 영역 끝-->
        
    </div>
    <!--/전체를 감싸는 warp 영역 끝-->

</body>

</html>

