<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    
    <!--CSS-->
    <link rel="stylesheet" href="../src/css/index.css">

    <!--JavaScript-->
    <!--d-day구하는 기능-->
    <script src="../src/js/d_day.js"></script>

</head>
<body>
    <!--전체를 감싸는 warp 영역 시작-->
    <div id="wrap">
        <!--header 영역 시작-->
        <header>
            <div class="logo-area"></div>
            <div class="title-area"></div>
            <div class="d_day-area">
                <h1 id="d_day"></h1>
            </div>
        </header>
        <!--/header 영역 끝-->
        <!--nav 영역 시작-->
        <nav>
            <!--category 영역 시작-->
            <div class="category">Home</div>
            <div class="category">About Me</div>
            <div class="category">AJAX</div>
            <div class="category">KakaoMap</div>
            <div class="category">GoogleChart</div>
            <!--/category 영역 끝-->
        </nav>
        <!--nav 영역 끝-->
        <!--main 영역 시작-->
        <div class="main">
            <!--iframe 영역 시작-->
            <iframe src="" scrolling="no"></iframe>
            <!--/iframe 영역 끝-->
        </div>
        <!--/main 영역 끝-->
        <!--footer 영역 시작-->
        <footer>
            <div></div>
            <div></div>
        </footer>
        <!--footer 영역 끝-->
    </div>
    <!--/전체를 감싸는 warp 영역 끝-->

    <script>

    </script>
</body>

</html>